@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $c-gray;
  background: $c-white-mute;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    max-width: 900px;
  }

  @media (max-width: $tablet-min-width) {
    max-width: 600px;
  }
}

.title {
  font-size: 46px;
  font-weight: 400;
  line-height: 63px;
  text-align: center;
  color: $c-gray;

  @media (max-width: $tablet-max-width) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (max-width: $phone-max-width) {
    font-size: 28px;
    line-height: 38px;
  }
}

.text {
  font-size: 26px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  color: $c-dark-blue;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $phone-max-width) {
    font-size: 18px;
    line-height: 20px;
  }

  &__current {
    font-weight: 700;
    color: $c-dark-blue;
    text-decoration-line: underline;
  }

  &__correctly {
    color: $c-light-gray;
  }
}

.keyboard__key {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: $c-gray;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 28px;
  }

  &__not-used {
    font-size: 18px;
    line-height: 25px;

    @media (max-width: $tablet-max-width) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.button {
  width: 100%;
  height: 42px;

  background: $c-dark-blue;
  border: none;
  border-radius: $border-radius;

  @extend .text;
  color: $c-white-mute;
  text-align: center;
}


.header {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-min-width) {
      justify-content: center;
    }
  }

  &__title {
      @extend .title;
  }

  &__config {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__statictic {
    width: 100%;
    max-width: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-min-width) {
      display: none;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-right: 48px;
      }

      @media (max-width: $tablet-max-width) {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      &__value {
        @extend .text;

        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: 16px;
        color: $c-gray;

        &__decription {
          margin: 0 0 0 4px;

          font-size: 10px;
          line-height: 14px;

          @media (max-width: $tablet-min-width) {
            display: none;
          }
        }
      }
    }
  }

  &__focus {
    width: 100%;
    max-width: 150px;

    margin: 0 0 0 52px;

    @media (max-width: $tablet-min-width) {
        display: none;
    }

    &__label {
        @extend .text;
        color: $c-gray;
    }

    &__input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $c-gray;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-color: $c-white-mute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      &:checked+label::before {
        border-color: $c-dark-blue;
        background-color: $c-dark-blue;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }

      /* стили при наведении курсора на checkbox */
      &:not(:disabled):not(:checked)+label:hover::before {
        border-color: $c-blue;
      }
      /* стили для активного состояния чекбокса (при нажатии на него) */
      &:not(:disabled):active+label::before {
        background-color: $c-blue;
        border-color: $c-blue;
      }
      /* стили для чекбокса, находящегося в фокусе */
      &:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(150, 164, 177, 0.25);
      }
      /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
      &:focus:not(:checked)+label::before {
        border-color: $c-blue;
      }
      /* стили для чекбокса, находящегося в состоянии disabled */
      &:disabled+label::before {
        background-color: $c-white-mute;
      }
    }
  }
}
.ending-modal {
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 300px);
  z-index: 9999;
  filter: blur(0);

  width: 100%;
  max-width: 600px;

  @media (max-width: $tablet-max-width) {
    top: calc(50% - 167px);
    left: calc(50% - 230px);
    max-width: 460px;
  }

  @media (max-width: $tablet-min-width) {
    top: calc(50% - 140px);
    left: calc(50% - 180px);
    max-width: 360px;
  }

  @media (max-width: $tablet-min-width) {
    top: calc(50% - 154px);
    left: calc(50% - 150px);
    max-width: 300px;
  }

  background-color: $c-white-mute;
  border-radius: $border-radius;

  box-shadow: 0px 0px 24px rgba(123, 123, 129, 0.25);

  &__header {
    background-color: $c-dark-blue;
    border-radius: $border-radius $border-radius 0 0;
    padding: 5px 12px;

    &__title {
      @extend .title;

      color: $c-white-mute;
    }
  }

  &__body {
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__stitistics-title {
      @extend .text;
      color: $c-gray;

      margin: 16px 0 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
      max-width: 354px;

      @media (max-width: $tablet-max-width) {
        max-width: 260px;
      }

      &__value {
        font-weight: 700;
      }
    }

    &__btn {
      @extend .button;

      margin: 24px 0 0;
      max-width: 354px;

      @media (max-width: $tablet-max-width) {
        max-width: 260px;
      }
    }
  }
}

.blur {
  & .task-box,
  & .interactive-box {
      filter: blur(2px);
  }
}

.task-box {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  padding: 24px;
  margin: 80px auto;

  width: 100%;
  max-width: 1000px;

  border: 2px solid $c-gray;
  border-radius: $border-radius;

  &__error {
    border: 2px solid $c-red;
    background-color: $c-light-red;
  }

  &__text {
    @extend .text;

    &__correctly {
      @extend .text__correctly;
    }

    &__current {
      @extend .text__current;
    }
  }
}

.interactive-box {
  margin: 80px auto;

  width: 100%;
  max-width: 1400px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1000px;

    @media (max-width: $tablet-max-width) {
      max-width: 900px;
    }

    @media (max-width: $tablet-min-width) {
      display: none;
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      width: 100%;
    }

    &__key {
      @extend .keyboard__key;

      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;

      padding: 12px 0;
      margin: 8px 4px;

      width: 100%;
      max-width: 70px;
      min-height: 60px;

      border: 1px solid $c-gray;
      border-radius: $border-radius;
      outline: 3px solid transparent;

      opacity: 0.8;
    }

    .space {
      max-width: 520px;
    }

    .pink {
      background-color: $c-pink;
    }

    .yellow {
      background-color: $c-yellow;
    }

    .brown {
      background-color: $c-brown;
    }

    .green {
       background-color: $c-green;
    }

    .blue {
      background-color: $c-blue;
    }

    .active {
      outline: 3px solid $c-red;
      opacity: 1;
    }

    .error {
      outline-offset: 3px;
      background: $c-red;
    }
  }

  &__hand {
    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }
}