$c-green: #97B196;
$c-blue: #96A4B1;
$c-dark-blue: #557A95;
$c-pink: #B096B1;
$c-brown: #B1A296;
$c-yellow: #E2E0AD;
$c-light-red: #EDDEDE;
$c-red: #A65959;
$c-light-gray: #C7C6C4;
$c-gray: #5D5C61;
$c-white-mute: #f2f2f2;

$tablet-max-width: 1220px;
$tablet-min-width: 756px;
$phone-max-width: 390px;

$border-radius: 8px;